{% extends 'base.html' %}
{% block title %}Photo Gallery{% endblock %}

{% block content %}
<h2 class="text-center mb-4" style="color: var(--quinacridone-magenta);">Photo Gallery</h2>
<div class="row">
    {% for photo in photos %}
    <div class="col-md-4 mb-4">
        <div class="card">
            <img src="{{ photo.image.url }}" class="card-img-top" alt="Photo">
            <div class="card-body">
                <h5 class="card-title">{{ photo.caption }}</h5>
                <p class="text-muted">Uploaded by {{ photo.uploaded_by.username }}</p>
                
                <!-- Like count and button -->
                <p class="text-muted">
                    <span id="like-count-{{ photo.id }}">{{ photo.likes.count }}</span> Likes
                </p>
                {% if user.is_authenticated %}
                <div class="d-flex justify-content-between">
                    <a  href="{% url 'like_photo' photo.id %}" class="btn btn-custom-primary" 
                    >
                        ❤️ Like
                    </a>
                    <a href="{% url 'photo_detail' photo.id %}" class="btn btn-custom-primary">View Details</a>
                </div>
                    {% endif %}
            </div>
        </div>
    </div>
    {% empty %}
    <p class="text-center" style="color: var(--salmon-pink);">No photos available.</p>
    {% endfor %}
</div>

{% endblock %}
